/* RESET */
body {
  font-family: "alternategotno2d", "NeuzeitGro-Bla", "Nanum Gothic", sans-serif;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/* IR */
.ir-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  display: block;
  margin: 0;
  padding: 0;
}

#global-header {
  z-index: 999;
  background-color: #fff;
}

#gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  padding: 0 60px;
}

#gnb .nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gnb .nav-item--logo {
  background: url("../img/beats-logo-161616.png") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

#gnb .nav-item:not(:first-child) {
  margin-left: 100px;
}

#gnb .btn--search {
  background: url("../img/icons/icon-search-dark.svg") no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}
