:root {
  /* font-size */
  --large-font-size: 74px;
  --medium-font-size: 55.5px;
  --sm-medium-font-size: 33.1111px;
  --sm-font-size: 24.8333px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NeuzeitGro-Bla", "alternategotno2d", "Nanum Gothic", sans-serif;
}

/* RESET */
h1,
h2 {
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: rgb(22, 22, 22);
  text-decoration: none;
  cursor: pointer;
}

button {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

/* COMMON */
.container {
  margin: 0 auto;
  width: 91.66666%;
  max-width: 1320px;
  height: 742px;
}

.btn--more {
  color: rgb(148, 148, 148);
  font-size: 24.833px;
  font-weight: 700;
  transition: 0.5s;
  letter-spacing: -1;
}

.btn--more:hover {
  color: rgb(219, 25, 52);
}

.copy {
  margin-top: 8px;
}

.copy h2 span {
  font-size: var(--sm-font-size);
  vertical-align: middle;
  text-rendering: optimizeSpeed;
  letter-spacing: -1px;
}

/* FONT */
h1 {
  font-size: var(--large-font-size);
  text-transform: uppercase;
}

h2 {
  font-size: var(--sm-medium-font-size);
  line-height: 36.7553px;
  text-transform: uppercase;
}

/* IR */
.ir-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute !important;
  width: 1px;
  display: block;
  margin: 0;
  padding: 0;
}

/* HEADER */
#global-header {
  width: 100%;
  z-index: 999;
  position: fixed;
  background-color: #fff;
  transition: 0.6s;
}

#gnb {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  height: 80px;
  margin: 0 auto;
  padding: 0 60px;
}

#gnb .nav__list {
  font-size: 18px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  background: url("../img/beats-logo-161616.png") no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
}

#gnb .nav-item:not(:first-child) {
  margin-left: 100px;
}

#gnb .nav-link {
  display: inline-block;
  position: relative;
}

#gnb .nav-item .nav-link:hover::after {
  content: "";
  width: 38px;
  left: 50%;
  margin-left: -19px;
  height: 2px;
  display: inline-block;
  position: absolute;
  bottom: -15px;
  background-color: rgb(219, 25, 52);
}

#gnb .btn--search {
  background: url("../img/icons/icon-search-dark.svg") no-repeat;
  background-size: contain;
  width: 18px;
  height: 18px;
}

/* MAIN */
/* Hero Beats Flex */
#hero--beats-flex {
  padding-top: 110px;
}

.hero-img {
  background: url("../img/hp-01.jpg.large.1x.jpg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 659px;
}

.hero-copy {
  margin-top: 8px;
}

.hero-copy h1 {
  font-weight: 900;
}

.hero-copy h1 span {
  font-size: var(--medium-font-size);
  font-weight: 900;
  line-height: 1.52;
  font-family: "NeuzeitGro-Bla";
  vertical-align: top;
}

/* POWER BEATS */
#powerbeats {
  padding-top: 75px;
}

.bg-wrap {
  display: flex;
}

.bg-left {
  background: url("../img/hp-02.jpg.large.2x.jpg") no-repeat;
  background-size: contain;
  width: 582px;
  height: 582px;
}

.bg-right {
  background: url("../img/hp-03.jpg.large.2x.jpg") no-repeat;
  background-size: contain;
  width: 582px;
  height: 582px;
}

/* Beats HeadPhone */
.beats-headphone-img {
  background: url("../img/hp-04.jpg.large.2x.jpg") no-repeat;
  background-size: contain;
  width: 100%;
  height: 659px;
}

/* FOOTER */
#footer {
  padding-top: 165px;
}

.footer-container {
  width: 85%;
  max-width: 94.66667rem;
  margin: 0 auto;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-container > .logo {
  flex: 0 0 25%;
}

.footer-list-wrap {
  flex: 0 0 75%;
  display: flex;
  justify-content: space-between;
}

.footer-head {
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 9px;
  margin-top: 16px;
  font-weight: 700;
}

.footer-list,
.footer-list-2 {
  flex: 1;
}

.footer-list ul {
  margin: 0 4px 50px;
}

.footer-list ul li {
  line-height: 1.6;
}

.footer-nav-link {
  color: rgb(167, 166, 166);
  font-family: "alternategotno2d";
  font-weight: 500;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#footer .area {
  color: rgb(167, 166, 166);
  font-family: "alternategotno2d";
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
}

#footer .space {
  padding-top: 29px;
  font-size: 20px;
}

#footer .copyright {
  margin: 50px 0 60px 0;
  position: relative;
}

#footer .back-to-top .arrow-up {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 42px;
  cursor: pointer;
  opacity: 0.2;
  margin-top: -12px;
}

#footer .copyright p {
  text-align: center;
  font-size: 0.7333333333rem;
  color: #b1b1b1;
  font-weight: 100;
  font-family: sans-serif;
}
